# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles
/media

# VS Code settings (optional)
.vscode/

# MacOS files (optional)
.DS_Store
